#
# Sandvine-SVUM-SVPTS.repo
#

[sandvine-svum-svpts]
name=Sandvine - SVUM (Usage Management) - SVPTS
{% if (release == 'dev' and base_os == 'centos6') %}
baseurl=ftp://{{ sandvine_yum_url }}/images/Linux/CENTOS6-x64/USAGE_MANAGEMENT_PTS/svusagemanagementpts-LNX-{{ um_version }}
{% endif %}
{% if (release == 'dev' and base_os == 'centos7') %}
baseurl=ftp://{{ sandvine_yum_url }}/images/Linux/CENTOS7-x64/USAGE_MANAGEMENT_PTS/svusagemanagementpts-LNX-{{ um_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
