#
# Sandvine-SVUM-SVPTS.repo
#

[sandvine-svum-svpts]
name=Sandvine - SVUM (Usage Management) - SVPTS
{% if release == 'prod' %}
baseurl=ftp://{{ftp_username}}:{{ftp_password}}@ftp.support.sandvine.com/release/CloudServices/{{ release_code_number }}/$releasever/svrepos/$basearch/svusagemanagementpts
{% endif %}
{% if release == 'dev' %}
baseurl=ftp://{{ packages_server }}/centos/{{ release_code_name }}/$releasever/svrepos/$basearch/svusagemanagementpts
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
