*.swp
*.qcow2
*.qcow2c
*.img
*.vmdk
*.retry
*.log
build-date.txt
packer/build*
packer/ubuntu*-tmpl
packer/centos*-tmpl
packer_cache
public_dir
yum_repos
ansible/*.yml
ansible/*.retry
ansible/*-hosts-*
ansible/*-extra-vars-*
ansible/facts_storage/*
ansible/vagrant-run-*
.vagrant
