# Copyright 2016, Sandvine Incorporated
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: downloading svpts-7.40.0182-vpl-1-centos7-amd64-disk1.qcow2c
  get_url:
    url: ftp://tpc-e9-07.phaedrus.sandvine.com/images/platform/stock/yukon/current/svpts-{{ pts_version }}-vpl-1-centos7-amd64-disk1.qcow2c
    dest: /home/{{ regular_system_user }}/svauto/downloads/svpts-{{ pts_version }}-vpl-1-centos7-amd64-disk1.qcow2c
    mode: 0640

- name: downloading svsde-7.50.0230-vpl-1-centos7-amd64-disk1.qcow2c
  get_url:
    url: ftp://tpc-e9-07.phaedrus.sandvine.com/images/platform/stock/yukon/current/svsde-{{ sde_version }}-vpl-1-centos7-amd64-disk1.qcow2c
    dest: /home/{{ regular_system_user }}/svauto/downloads/svsde-{{ sde_version }}-vpl-1-centos7-amd64-disk1.qcow2c
    mode: 0640

- name: downloading svspb-6.65.0078-vpl-1-centos6-amd64-disk1.qcow2c
  get_url:
    url: ftp://tpc-e9-07.phaedrus.sandvine.com/images/platform/stock/yukon/current/svspb-{{ spb_version }}-vpl-1-centos6-amd64-disk1.qcow2c
    dest: /home/{{ regular_system_user }}/svauto/downloads/svspb-{{ spb_version }}-vpl-1-centos6-amd64-disk1.qcow2c
    mode: 0640
