{% if (setup_mode == 'sandvine' or setup_mode == 'svtse-demo') %}
#
# PTS Policy example:
#

subscriber_classes "internal"
if true then count and count demographic
{% endif %}

{% if setup_mode == 'cloud-services' %}
classifier "LinkData" type string
if true then set Classifier.LinkData = "{{ classifier_linkdata }}"
{% endif %}

{% if setup_sub_option == 'default' %}
include "/usr/local/sandvine/etc/policy.pts.cs.main.conf"
{% endif %}

{% if setup_sub_option == 'mdm' %}
include "/usr/local/sandvine/etc/policy.pts.cs.mobile_main.conf"
{% endif %}
