internal 10 internal
{{ int_subnet }}
10.0.0.0/8
172.16.0.0/12
192.168.0.0/16

external 100 external
{{ ext_subnet }}

{% if setup_sub_option == 'mdm' %}
POLICY intranet
{{ int_subnet }}

POLICY portal
{{ ext_subnet }}
{% endif %}
