#
# Sandvine-SVPTS.repo
#

[sandvine-svpts]
name=Sandvine - SVPTS (Sandvine Policy Traffic Switch)
{% if release == 'prod' %}
baseurl=ftp://{{ftp_username}}:{{ftp_password}}@ftp.support.sandvine.com/release/centos/{{ release_code_number }}/$releasever/os/$basearch/svpts
{% endif %}
{% if (release == 'dev' and static_repo != 'true') %}
baseurl=ftp://{{ packages_server }}/centos/{{ release_code_name }}/$releasever/svrepos/$basearch/svpts
{% endif %}
{% if (versioned_repo == 'true' and release == 'dev' and static_repo != 'true') %}
baseurl=ftp://{{ packages_server }}/centos/{{ release_code_name }}/$releasever/svrepos/$basearch/svpts-{{ pts_version }}
{% endif %}
{% if (base_os == 'centos7' and static_repo == 'true' and versioned_repo == 'true' and release == 'prod') %}
baseurl=ftp://{{ftp_username}}:{{ftp_password}}@ftp.support.sandvine.com/release/PTS/PTSVPL/{{ pts_version }}/software/linux-rpm/repo/$releasever/$basearch
{% endif %}
{% if (base_os == 'centos6' and static_repo == 'true' and versioned_repo == 'true' and release == 'dev') %}
baseurl=ftp://{{ static_packages_server }}/images/Linux/CENTOS6-x64/SVPTS/svpts-LNX-{{ pts_version }}
{% endif %}
{% if (base_os == 'centos7' and static_repo == 'true' and versioned_repo == 'true' and release == 'dev') %}
baseurl=ftp://{{ static_packages_server }}/images/Linux/CENTOS7-x64/SVPTS/svpts-LNX-{{ pts_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
