#
# Sandvine-SVTCPA.repo
#

[sandvine-svtcpa]
name=Sandvine - SVTCPA (Sandvine TCP Accelerator)
{% if (release == 'dev' and ansible_os_family == "RedHat" and ansible_distribution_major_version == "6") %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/CENTOS6-x64/TCPA/svtcpa-LNX-{{ svtcpa_version }}
{% endif %}
{% if (release == 'dev' and ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/RHEL7-x64/TCPA/svtcpa-LNX-{{ svtcpa_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
