# Sandvine-Main.repo
#
#

[sandvine]
name=Sandvine - Main
{% elif release == 'dev' %}
baseurl=ftp://{{ svauto_yum_url }}/centos/{{ release_code_name }}/$releasever/os/$basearch
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
