#
# Sandvine-SVTSE.repo
#

[sandvine-svtse]
name=Sandvine - SVTSE (Sandvine Traffic Steering Engine)
{% if (release == 'dev' and base_os == 'centos6') %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/CENTOS6-x64/TSE/svtse-LNX-{{ svtse_version }}
{% endif %}
{% if (release == 'dev' and base_os == 'centos7') %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/RHEL7-x64/TSE/svtse-LNX-{{ svtse_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
