#
# Sandvine-SVPROTO.repo
#

[sandvine-svproto]
name=Sandvine - SVPTS (Policy Traffic Switch) - Protocols
{% if (release == 'dev' and base_os == 'centos6') %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/CENTOS6-x64/PTSD_PROTOCOLS/svprotocols-LNX-{{ pts_protocols_version }}
{% endif %}
{% if (release == 'dev' and base_os == 'centos7') %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/CENTOS7-x64/PTSD_PROTOCOLS/svprotocols-LNX-{{ pts_protocols_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
