#
# Sandvine-SVNDS.repo
#

[sandvine-svreports]
name=Sandvine - SVNDS
{% if release == 'prod' %}
baseurl=ftp://{{ftp_username}}:{{ftp_password}}@ftp.support.sandvine.com/release/centos/{{ release_code_number }}/$releasever/os/$basearch/svreports
{% endif %}
{% if release == 'dev' %}
baseurl=ftp://{{ packages_server }}/centos/{{ release_code_name }}/$releasever/svrepos/$basearch/svreports
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
