<network>
  <name>stack-1-control-1</name>
  <forward mode='nat'/>
  <bridge name='s-1-cotrl-1' stp='on' delay='0'/>
  <domain name='sandvine.rocks'/>
  <ip address='192.168.192.1' netmask='255.255.255.128'>
    <dhcp>
      <range start='192.168.192.2' end='192.168.192.126'/>
    </dhcp>
  </ip>
</network>
