#
# Sandvine-SVMCDTEXT.repo
#

[sandvine-svmcdtext]
name=Sandvine - SVMCDTEXT
{% if (release == 'dev' and ansible_os_family == "RedHat" and ansible_distribution_major_version == "6") %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/RHEL6-x64/MCDTEXT/svmcdtext-LNX-{{ spb_protocols_version }}
{% endif %}
{% if (release == 'dev' and ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") %}
baseurl=ftp://{{ sandvine_yum_host }}/images/Linux/CENTOS7-x64/MCDTEXT/svmcdtext-LNX-{{ spb_protocols_version }}
{% endif %}
enabled=1
protect=0
gpgcheck=0
sslverify=0
