interface=dummybr2
dhcp-range=dummybr2,192.168.192.2,192.168.192.126
domain=ctrl.sandvine.rocks,192.168.192.0/25
dhcp-host={{ stack_1_pts_1_ctrl_mac }},stack-1-pts-1
dhcp-host={{ stack_1_sde_1_ctrl_mac }},stack-1-sde-1
dhcp-host={{ stack_1_spb_1_ctrl_mac }},stack-1-spb-1
